body{
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:"header header"
                      "menu content";
  margin:0;
  background-color:white;
  font-family: 'Lato', sans-serif;
}
li, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header{
  display: grid;
  grid-area: header;
  background-color: white;
  position: fixed;
  width: 100%;
  justify-content: center;
  box-shadow: 0 2px 20px 5px #f2f2f2;
  z-index:3;
}
.navBar{
  max-width: 1440px;
  display:grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 70px;
  justify-content: center;
  align-items: center;
}
.navBar figure{
  margin:0 auto;
}
.UserImg {
  width: 50px;
  height: 50px;
  margin: 0;
}
.UserImg img{
  width: 100%;
}
.UserProfile{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 10%;
  align-items: center;
  justify-content: center;
}
.search{
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: none;
  padding: 0.5em;
}

.menu{
  display: grid;
  position:fixed;
  grid-template-areas: menu;
  width: 10%;
  height: calc(100vh - 70px);
  top:70px;
  background-color: rgb(253, 103, 102);
  justify-content: center;
  align-content: space-between;
  z-index: 4;
}
.menuItems{
  display: grid;
  justify-content: center;
}
.singleItem{
  margin:30px 0;
  width: 40px;
  height: 40px;

}
.singleItem img{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.ItemName{
  margin-top: 10px;
}
.content{
  display: grid;
  grid-area: content;
  justify-content: center;
  align-items: center;
}
.Maincontainer{
  display: grid;
  max-width: 1440px;

}
.sectionTitle{
  padding:0 1em;
}
.films{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 2em;
}
.filmItem{
  position: relative;
  max-width: 491px;
}
.filmIMG{
  margin:0;
  /* margin-bottom: 1.5em; */
  /* max-height: 300px; */
}
.filmIMG img {
  width: 100%;
}
.filmOverlay{
  position: absolute;
  height: 50%;
  bottom:4px;
  right:0;
  left:0;
  background-color: rgba(253, 103, 102, .5)
}
.filmTitle{
  margin:3px;
  font-size: 1em;
}
.filmDesccription{
  font-size: .5em;
}
